<ion-view hide-nav-bar="true" >
    <!--<ion-nav-title>-->
        <!--<div class="header-icon"></div>-->
    <!--</ion-nav-title>-->
    <ion-content scroll="false" class="delete-feedback">
      <div class="row">
        <div class="col">
          <div class="main-logo"></div>
        </div>
      </div>
        <h4>What was the main reason for leaving?</h4>
        <div class="list">
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur tempore praesentium quae vero necessitatibus, quasi, quod neque veritatis. Rem, ab.
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </div>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, consectetur.
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </div>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem repellendus eveniet aperiam quas saepe!
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </div>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        Lorem Ipsum Dolor
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </div>
            </label>
        </div>
        <button class="button button-delete" ui-sref="startapp.signup">Close App</button>
    </ion-content>
</ion-view>
