<ion-view class="connections" hide-back-button="true">
  <custom-backdrop></custom-backdrop>
  <ion-nav-title>
    <div class="header-icon"></div>
  </ion-nav-title>
  <ion-content>
    <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
      <ion-item ng-class="{'active' : item.status == 'unread'}" ng-repeat="item in friendRequest" ng-init="user = users.$load(item.$id)">
        <div class="item-holder">
          <avatar-holder></avatar-holder>
          <div class="notification-text">
            <div class="main-content">
              <span class="user">@{{user.username}}</span> has sent you a friend requested
            </div>
          </div>
          <div class="buttons">
            <button class="button button-block button-request" ng-click="addFriend(item.$id)">
              Accept Request
            </button>
          </div>
        </div>
        <div class="user-image-examples">
          <div class="bottom-images" ng-repeat="userImages in user.posts | toArray | limitTo: 4"
               ng-init="image = images.$load(userImages.imageId)">
            <div class="image" style="background-image: url('data:image/jpeg;base64,{{image.image}}')">
            </div>
          </div>
        </div>
        <ion-option-button class="button-positive delete-notification" ng-click="deleteItem(item)">
          <i class="ion-ios-trash-outline cross-icon"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-spinner ng-if="!noMoreItemsAvailable" ng-show="loadMoreItems" icon="spiral" class="spinner spinner-ios feed-spinner"></ion-spinner>
    <div class="no-more-items" ng-show="friendRequest == 0">
      <i class="icon ion-android-favorite"></i>
      No friend requests
    </div>
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>


