<ion-view class="profile" hide-back-button="true">
  <ion-nav-title>
    <div class="header-icon"></div>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="header-grid-switch-profile" ng-click="changeGridToggle()">
      <i ng-if="!isGridActive" class="icon ion-grid"></i>
      <i ng-if="isGridActive" class="icon ion-ios-list-outline"></i>
    </div>
    <button ng-hide="hideSettingButton" class="button button-icon header-settings-button" ui-sref="inapp.settings">
      <i class="icon-settings-icon"></i>
    </button>
  </ion-nav-buttons>
  <ion-content scroll="false" style="padding-bottom: 300px; position:relative;">
    <div class="row news-grid-holder condensed" ng-class="{'condensed': isGridActive, 'expanded': !isGridActive}">
      <div class="grid-container" ng-repeat="post in wardrobeItems" ng-init="wardrobe = imageCache.$load(post.$id)">
        <delete-item-holder></delete-item-holder>
        <div class="news-grid-post" on-hold="showDeleteScreen(wardrobe.imageKey)">
          <div class="item item-details" ng-init="user = users.$load(post.userId)">
            <avatar-holder></avatar-holder>
            <title-holder class="title-container"></title-holder>
          </div>
          <div class="item item-image" ng-if="user.username && wardrobe.visible">
            <a ng-click="viewImage(wardrobe)">
              <div class="title">
                <span class="sub-caption" ng-class="{'no-tags': wardrobe.tags == null}">{{::wardrobe.itemTitle}}</span>
                    <span class="tags">
                      <ul>
                        <li ng-repeat="post in wardrobe.tags">
                          {{::post.itemDescription.join(', ')}}
                        </li>
                      </ul>
                    </span>
                <div class="tag-icon" ng-if="wardrobe.tags">
                  <div class="tag-pin">
                      <span class="number">
                          {{::(wardrobe.tags| toArray : false|filter:query).length }}
                      </span>
                  </div>
                  <div class="camera-icon"></div>
                </div>
              </div>
              <div class="image-holder-frame"
                   ng-style="{'background-image': 'url( data:image/jpeg;base64,' + wardrobe.image + ')'}"></div>
              <ion-spinner icon="spiral" ng-if="!wardrobe.image" class="spinner spinner-ios item-spinner"></ion-spinner>
            </a>
          </div>
          <div class="item item-image deleted-image" ng-if="!user.username || !wardrobe.visible">
            <div class="deleted-text">
              This image has been deleted
            </div>
            <div class="icon"></div>
          </div>
          <div class="item item-social">
            <div class="details-holder" ng-if="user.username && wardrobe.visible">
              <div class="like-indicator chat-icon" ng-class="{'active' : wardrobe.comments}"
                   ng-click="viewCommentsList(wardrobe)">
                <i class="icon ion-ios-chatbubble"></i>
                <div class="like-description">
                  Say something
                </div>
              <span class="count chat-count" ng-hide="wardrobe.comments == null">
                <span class="number">{{(wardrobe.comments| toArray : false|filter:query).length}}</span>
              </span>
              </div>
              <div class="like-indicator" ng-class="{'active' : checkIfUserHasLiked(post.upVote, post)}"
                   ng-click="upVote(wardrobe, user)">
                <i class="icon ion-android-star"></i>
                <div class="like-description">
                  Favourited by:
                </div>
              <span class="count like-count" ng-hide="wardrobe.upVote == null">
                  <span class="number">{{(wardrobe.upVote| toArray : false|filter:query).length}}</span>
              </span>
              </div>
              <div class="like-indicator" ng-class="{'active' : wardrobe.wardrobeRef}"
                   ng-click="addToWardrobe(wardrobe, user)">
                <i class="icon-myfeed-icon"></i>
                <div class="like-description">
                  Hanged by:
                </div>
              <span class="count wardrobe-count" ng-hide="wardrobe.wardrobeRef == null">
                <span class="number">{{(wardrobe.wardrobeRef| toArray : false|filter:query).length}}</span>
              </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ion-spinner ng-if="!noMoreWardrobeItems && data.wardrobe" icon="spiral" class="spinner spinner-ios feed-spinner"></ion-spinner>
      <div class="no-more-items-font-icon" ng-hide="data.wardrobe">
        <i class="icon icon-myfeed-icon"></i>
        No wardrobe items
      </div>
      <div class="no-more-items-font-icon" ng-show="noMoreWardrobePlaceholder && data.wardrobe">
        <i class="icon icon-myfeed-icon"></i>
        No more wardrobe items
      </div>
    </div>
    <ion-infinite-scroll ng-if="!noMoreWardrobeItems" on-infinite="loadMoreWardrobe()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
