<ion-view class="profile" hide-back-button="hideBackButton">
  <ion-nav-title>
    <div class="header-icon"></div>
  </ion-nav-title>
  <ion-nav-buttons side="left" >
    <button ng-if="showTempBackButton" ng-click="myGoBack()" class="button back-button buttons button-clear custom-back-arrow">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <div class="header-grid-switch-profile" ng-class="{'already-added' : checkIfUserIsFriend(data)}" ng-click="changeGridToggle()">
      <i ng-if="!isGridActive" class="icon ion-grid"></i>
      <i ng-if="isGridActive" class="icon ion-ios-list-outline"></i>
    </div>
    <div class="add-user-button" ng-click="addFriend()" ng-class="{'already-added' : checkIfUserIsFriend(data)}">
      <i class="icon ion-android-person-add"></i>
    </div>
  </ion-nav-buttons>
  <ion-content scroll="false" style="padding-bottom: 300px; position:relative;" >
    <div class="not-a-friend-icon" ng-hide="data.viewOutfits" ng-if="!checkIfUserIsFriend(data)">
      <i class="icon ion-android-alert"></i>
      Only friends of this user can see their posts
    </div>
    <div ng-if="checkIfUserIsFriend(data) || data.viewOutfits">
      <div class="row news-grid-holder condensed outfitspost" ng-class="{'condensed': isGridActive, 'expanded': !isGridActive}">
      <div class="grid-container" ng-repeat="image in userOutfits" ng-init="outfits = imageCache.$load(image.$id)">
        <div class="news-grid-post-header">
          <div class="item item-image">
            <a ng-click="viewImage(outfits.imageKey)">
              <div class="title">
                <span class="sub-caption" ng-class="{'no-tags': outfits.tags == null}">{{::outfits.itemTitle}}</span>
                  <span class="tags">
                    <ul>
                      <li ng-repeat="post in outfits.tags">
                        {{::post.itemDescription.join(', ')}}
                      </li>
                    </ul>
                  </span>
                <div class="tag-icon" ng-if="outfits.tags">
                  <div class="tag-pin">
                    <span class="number">
                        {{::(outfits.tags| toArray : false|filter:query).length }}
                    </span>
                  </div>
                  <div class="camera-icon"></div>
                </div>
              </div>
              <div class="image-holder-frame" ng-style="{'background-image': 'url( data:image/jpeg;base64,' + outfits.image + ')'}"></div>
            </a>
          </div>
          <div class="item item-social">
            <div class="details-holder">
              <div class="like-indicator chat-icon" ng-class="{'active' : outfits.comments}" ng-click="viewCommentsList(outfits)">
                <i class="icon ion-ios-chatbubble"></i>
                <div class="like-description">
                  Say something
                </div>
                <span class="count chat-count" ng-hide="outfits.comments == null">
                  <span class="number">{{(outfits.comments| toArray : false|filter:query).length}}</span>
                </span>
              </div>
              <div class="like-indicator" ng-class="{'active' : outfits.upVote}" ng-click="upVote(outfits)">
                <i class="icon ion-android-star"></i>
                <div class="like-description">
                  Favourited by:
                </div>
                <span class="count like-count" ng-hide="outfits.upVote == null" ng-click="addToWardrobe(outfits)">
                    <span class="number">{{(outfits.upVote| toArray : false|filter:query).length}}</span>
                </span>
              </div>
              <div class="like-indicator" ng-class="{'active' : outfits.wardrobeRef}" ng-click="addToWardrobe(outfits)">
                <i class="icon-myfeed-icon"></i>
                <div class="like-description">
                  Hanged by:
                </div>
                <span class="count wardrobe-count" ng-hide="outfits.wardrobeRef == null">
                  <span class="number">{{(outfits.wardrobeRef| toArray : false|filter:query).length}}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <ion-spinner ng-if="!noMoreUserOutfitItems && data.posts" icon="spiral" class="spinner spinner-ios feed-spinner"></ion-spinner>
        <div class="no-more-items" ng-hide="data.posts">
          No outfits posted
        </div>
        <div class="no-more-items" ng-show="noMoreUserOutfitPlaceholder && data.posts">
          No more outfits
        </div>
      </div>
      <ion-infinite-scroll ng-if="!noMoreUserOutfitItems" on-infinite="loadMoreOutfits()" distance="1%"></ion-infinite-scroll>
    </div>
    </div>
  </ion-content>
</ion-view>
