<ion-view class="settings">
  <custom-backdrop></custom-backdrop>
  <ion-nav-title>
    About Outiftpic
  </ion-nav-title>
  <ion-content class="text-content" scroll-sista="tabs">
    <h3>Welcome to Outfitpic</h3>
    <h4>Lorem ipsum dolor sit amet.</h4>
    <div class="row mobile-row">
      <div class="col col-33">
        <img src="./images/about-mobile.png" alt="">
      </div>
      <div class="col col-33">
        <img src="./images/about-mobile-2.png" alt="">
      </div>
      <div class="col col-33">
        <img src="./images/about-mobile-3.png" alt="">
      </div>
    </div>
    <p>
      Outfitpic was created in 2015 by 4 friends on a mission to create a truly fasion focussed social network where
      users could share and show their fashion style. Outfitpic wants to make it easier to discover the latest fashion
      trends
    </p>
    <div class="row team-row">
      <div class="col col-25">
        <div class="team-image dan"></div>
        <div class="job-details">
          <div class="job-title">
            Finance &amp Marketing
          </div>
          <div class="job-description">
            Lorem ipsum dolor sit amet.
          </div>
        </div>
      </div>
      <div class="col col-25">
        <div class="team-image steph"></div>
        <div class="job-details">
          <div class="job-title">
            QA &amp; <br>Tester
          </div>
          <div class="job-description">
            Lorem ipsum dolor sit amet.
          </div>
        </div>
      </div>
      <div class="col col-25">
        <div class="team-image patrick"></div>
        <div class="job-details">
          <div class="job-title">
            Backend Developer
          </div>
          <div class="job-description">
            Lorem ipsum dolor sit amet.
          </div>
        </div>
      </div>
      <div class="col col-25">
        <div class="team-image naresh"></div>
        <div class="job-details">
          <div class="job-title">
            UX <br>Designer
          </div>
          <div class="job-description">
            Lorem ipsum dolor sit amet.
          </div>
        </div>
      </div>
    </div>

    <p>
      Id unde sit iste modi animi earum velit, dolor ea facilis! Eum unde necessitatibus voluptate dolore illo hic
      ducimus laudantium quod saepe consectetur doloribus perferendis voluptates laboriosam itaque officia laborum vero,
      expedita reiciendis esse alias? Eum laborum, non quisquam quia reiciendis ipsa quibusdam neque fuga ad.
    </p>
    <p>
      Nemo architecto at, quidem temporibus impedit maxime, maiores voluptates veritatis ex sint harum incidunt. Odit,
      voluptas officia atque, nostrum architecto repellat sequi sit.
    </p>
  </ion-content>
</ion-view>
