<ion-view hide-nav-bar="true" class="change-password-bkg">
    <ion-content class="padding change-password">
        <div class="row">
            <div class="col">
                <div class="main-logo"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="change-text">
                    Please check your email for your temporary password
                </div>                    
            </div>
        </div>
        <div class="row row-center">
            <form class="main-form" name="myform" ng-submit="change()" autocomplete="off" novalidate>
                <div class="col col-90 form-fields">
                    <div class="list list-inset">
                        <div class="input-lock-icon"></div>
                        <label class="item item-input item-floating-label">
                            <input type="email" name="email"  ng-model="user.email" ng-required="true">
                        </label>

                        <div class="input-lock-icon"></div>
                        <label class="item item-input item-floating-label">
                            <input type="password" placeholder="Temp Password" ng-model="user.token" ng-required="true">
                        </label>

                        <div class="input-lock-icon"></div>
                        <label class="item item-input">
                            <input type="password" name="password" placeholder="New Passcode" ng-minlength="4" ng-model="user.password" ng-required="true">
                            <span class="error" ng-show="myform.password.$touched && myform.password.$invalid">
                                <span ng-show="myform.password.$error.required">Password is required.</span>
                            <span ng-show="myform.password.$error.minlength"> Minimum characters is 4.</span>
                            </span>
                        </label>
                        <div class="input-lock-icon"></div>
                        <label class="item item-input">
                            <input type="password" ng-model="user.verify" placeholder="Confirm Passcode" nx-equal-ex="user.password" name="verify" ng-required="true">
                            <span class="error" ng-show="myform.verify.$error.nxEqualEx">Passwords must match</span>
                        </label>


                    </div>
                </div>
                <div class="col col-80 col-offset-10">
                    <button class="button button-block button-default" type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
