<ion-view hide-nav-bar="true" class="reset-bkg">
    <ion-content class="padding reset" ng-controller="ForgotPasswordController">
        <a class="back-button-text-arrow" ng-click="resetForm(); $ionicGoBack();">
            <i class="icon ion-ios-arrow-back"></i>
            <span class="text">
        Back
      </span>
        </a>
        <div class="row">
            <div class="col">
                <div class="main-logo"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="reset-text">
                    Please enter your email address to reset your password
                </div>
            </div>
        </div>
        <form class="main-form" name="myform" ng-submit="forgot()" autocomplete="off" novalidate>
            <div class="row">
                <div class="col col-90 form-fields">
                    <div class="list list-inset">
                        <div class="input-avatar-icon"></div>
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Email</span>
                            <input type="email" name="email" placeholder="Email Address" ng-model="user.email" validateEmail ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" maxlength="60" ng-maxlength="60" ng-required="true">
                            <span class="error" ng-show="myform.email.$touched && myform.email.$invalid">
                            <span ng-show="myform.email.$error.required">Email is required.</span>
                            <span ng-show="myform.email.$error.pattern && !myform.email.$error.maxlength">Invalid email address.</span>
                            <span ng-show="myform.email.$error.maxlength">Maximum characters is 60.</span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-80 col-offset-10">
                    <button type="submit" class="button button-block button-signup" ng-disabled="myform.$invalid">Reset Password</button>
                </div>
            </div>
        </form>
        <p class="error-message" ng-show="errorMessage">{{message}}</p>
        <p class="success-message" ng-show="successMessage">{{message}}</p>
    </ion-content>
</ion-view>
