<ion-view hide-nav-bar="true">
  <ion-content scroll="false" class="walkthrough" id="test">
    <div class="row slider-holder">
      <ion-slide-box>
        <ion-slide class="slide-1 slide-container">
          <div class="slider-icon walkthrough-icon-0"></div>
          <div class="heading-text">
            Welcome to OutfitPic
          </div>
          <div class="body-text">
            Welcome to OutfitPic the Social Fashion Discovery App, let's look at the things you can do inside...
          </div>
        </ion-slide>
        <ion-slide class="slide-2 slide-container">
          <div class="slider-icon walkthrough-icon-1"></div>
          <div class="heading-text">
            Snap & Share
          </div>
          <div class="body-text">
            Wearing a hot outfit? take a selfie and share it with your friends
          </div>
        </ion-slide>
        <ion-slide class="slide-3 slide-container">
          <div class="slider-icon walkthrough-icon-2"></div>
          <div class="heading-text">
            Interact
          </div>
          <div class="body-text">
            Comment, like and discuss Outfits
          </div>
        </ion-slide>
        <ion-slide class="slide-4 slide-container">
          <div class="slider-icon walkthrough-icon-3"></div>
          <div class="heading-text">
            Discover
          </div>
          <div class="body-text">
            Looking for inspiration? or want to know how to style an item you've bought? OutfitPic is the place
          </div>
        </ion-slide>
        <ion-slide class="slide-5 slide-container">
          <div class="slider-icon walkthrough-icon-4"></div>
          <div class="heading-text">
            Shop
          </div>
          <div class="body-text">
            Seen something you like? on OutfitPic you can shop your favorite items
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="row row-bottom get-started-btn">
      <div class="col col-60">
        <button class="button button-block button-primary-full" ng-click="getStarted()">Get Started</button>
      </div>
    </div>
  </ion-content>
</ion-view>
