<ion-view hide-nav-bar="true" class="signup-bkg">
    <ion-content scroll="false" class="signup">
        <div class="row">
            <div class="col">
                <div class="main-logo"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Ready to get started?</h1>
            </div>
        </div>

        <div class="row row-center">
            <div class="col col-90 col-offset-3">
                <div class="list list-inset signup-container-anim">
                    <div class="signup-container facebook-container" ng-click="registerFB()">
                        <div class="signup-facebook-container">
                            <i class="icon ion-social-facebook"></i>
                        </div>
                        <div class="signup-text">
                            Connect with Facebook
                        </div>
                    </div>
                    <div class="signup-container twitter-container" ng-click="registerTwitter()">
                        <div class="signup-twitter-container">
                            <i class="icon ion-social-twitter"></i>
                        </div>
                        <div class="signup-text">
                            Connect with Twitter
                        </div>
                    </div>
                    <div class="signup-container outfitpic-container">
                        <div class="signup-email-container">
                            <i class="icon ion-ios-email"></i>
                        </div>
                        <a ui-sref="startapp.registration">
                            <div class="signup-text">
                                Sign up with email
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center-align">
            <div class="col col-50">
                <a ui-sref="startapp.login">
                    <button class="button button-block button-outline">
                        Login
                    </button>
                </a>
            </div>
        </div>
        <div class="row row-bottom">
            <div class="col text-align-center">
                <a ui-sref="startapp.forgotpassword">
                    Forgotten Password?
                    <div class="circle-arrow">
                        <i class="icon ion-android-arrow-forward"></i>
                    </div>
                </a>
            </div>
        </div>
      <div class="row row-center">
        <span class="timestamp">Test Branch - Build No. 00010 built: {{date | date:'medium'}}</span>
      </div>
    </ion-content>
</ion-view>
