// ERROR POPOVER
//------------------------------------------------------------------------//

.error-popover {
  align-items: center;

  .popup{
    width: 280px;
    position: relative;
    border-radius: 0;
    padding: 20px;
    background: url($popover-bkg-error);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -25px;
    background-color: white;
    max-height: 430px;
    .popup-head{
      border: none;
      position: relative;
      .popup-title {
        margin: 0;
        padding: 110px 0 0 0;
        font-size: 20px;
      }
      .popup-sub-title {
        margin: 5px 0 0 0;
        padding: 0;
        font-weight: normal;
        font-size: 11px;
        margin-bottom: 15px;
      }
      &:after{
        content: '';
        background: url($popover-icon-error);
        background-repeat: no-repeat;
        height: 120px;
        width: 110px;
        position: absolute;
        background-size: contain;
        left: 0;
        right: 0;
        margin: auto;
        top: 10px;
      }
    }
    .popup-body {
      text-align: center;
      font-size: 11px;
      list-style: none;
      position: relative;
      top: -20px;
      li{
        margin-bottom: 20px;
        font-size: 15px;
        color: $font-color-content-primary;
        margin-left: 24px;
        i.icon{
          color: darken($border-light-grey, 80%);
          font-size: 22px;
          position: relative;
          top: 3px;
          margin-right: 10px;
        }
      }
      .ion-sad-outline{
        font-size: 70px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        color: $accent-color;
      }
      input{
        border: 1px solid $accent-color;
        color: $font-color-content-primary;
        border-radius: 5px;
        padding: 20px 15px 20px 15px;
      }
    }
    .popup-buttons{
      width: 70%;
      margin: 0 auto;
      position: relative;
      min-height: 0;
      .button-primary-full{
        border-radius: 50px !important;
        font-size: 12px;
        line-height: 13px !important;
        min-height: 0;
        height: 40px;
        position: relative;
        top: -8px;
      }
      .button-accent-full{
        border-radius: 50px !important;
        font-size: 12px;
        line-height: 13px !important;
      }
    }
  }
}
