<ion-modal-view class="back-error" hide-nav-bar="true" >
  <ion-content class="text-content">
    <h1>All data will be erased</h1>
    Come up with some better text then if this doesn't make sense bitch. Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Asperiores delectus ipsa maxime modi necessitatibus ratione, veniam. Magni quia quod sunt.
    <div class="row">
      <div class="col-50">
        <button class="button button-accent-full" ng-click="closeCamera()">Go back</button>
      </div>
      <div class="col-50">
        <button class="button button-primary-full" ng-click="closeBackModal()">Continue Tagging</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
