  <ion-modal-view class="disclaimer">
    <ion-header-bar class="header-bar" ng-click="closeModal(1)">
      <h1 class="title" >Terms &amp; Conditions</h1>
      <i class="icon ion-android-close"></i>
    </ion-header-bar>
    <ion-content class="text-content">
		<h3>Terms &amp; Conditions </h3>
        <h4>1.0 Lorem ipsum dolor sit amet.</h4>
        <p>
        	Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Omnis ducimus saepe error quisquam, minima porro fuga assumenda atque rem numquam molestias odit reiciendis delectus blanditiis debitis <strong>pariatur sapiente itaque</strong> labore asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et id iusto quod molestias inventore tempora voluptate voluptatibus quas asperiores. Ipsam, asperiores cumque error laboriosam ratione eius necessitatibus, expedita quae perferendis dolorum placeat doloribus itaque. Voluptas, nisi architecto perspiciatis sapiente corporis minima dolorem, in cupiditate voluptatem consectetur, amet repellendus accusantium consequatur.
        </p>
        <h4>1.0 Lorem ipsum dolor sit amet.</h4>
        <p>
        	Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Omnis ducimus saepe error quisquam, minima porro fuga assumenda atque rem numquam molestias odit reiciendis delectus blanditiis debitis <strong>pariatur sapiente itaque</strong> labore asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et id iusto quod molestias inventore tempora voluptate voluptatibus quas asperiores. Ipsam, asperiores cumque error laboriosam ratione eius necessitatibus, expedita quae perferendis dolorum placeat doloribus itaque. Voluptas, nisi architecto perspiciatis sapiente corporis minima dolorem, in cupiditate voluptatem consectetur, amet repellendus accusantium consequatur.
        </p>
        <h4>1.0 Lorem ipsum dolor sit amet.</h4>
        <p>
        	Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Omnis ducimus saepe error quisquam, minima porro fuga assumenda atque rem numquam molestias odit reiciendis delectus blanditiis debitis <strong>pariatur sapiente itaque</strong> labore asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et id iusto quod molestias inventore tempora voluptate voluptatibus quas asperiores. Ipsam, asperiores cumque error laboriosam ratione eius necessitatibus, expedita quae perferendis dolorum placeat doloribus itaque. Voluptas, nisi architecto perspiciatis sapiente corporis minima dolorem, in cupiditate voluptatem consectetur, amet repellendus accusantium consequatur.
        </p>
        <h4>1.0 Lorem ipsum dolor sit amet.</h4>
        <p>
        	Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Omnis ducimus saepe error quisquam, minima porro fuga assumenda atque rem numquam molestias odit reiciendis delectus blanditiis debitis <strong>pariatur sapiente itaque</strong> labore asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et id iusto quod molestias inventore tempora voluptate voluptatibus quas asperiores. Ipsam, asperiores cumque error laboriosam ratione eius necessitatibus, expedita quae perferendis dolorum placeat doloribus itaque. Voluptas, nisi architecto perspiciatis sapiente corporis minima dolorem, in cupiditate voluptatem consectetur, amet repellendus accusantium consequatur.
        </p>
        <h4>1.0 Lorem ipsum dolor sit amet.</h4>
        <p>
        	Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Omnis ducimus saepe error quisquam, minima porro fuga assumenda atque rem numquam molestias odit reiciendis delectus blanditiis debitis <strong>pariatur sapiente itaque</strong> labore asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et id iusto quod molestias inventore tempora voluptate voluptatibus quas asperiores. Ipsam, asperiores cumque error laboriosam ratione eius necessitatibus, expedita quae perferendis dolorum placeat doloribus itaque. Voluptas, nisi architecto perspiciatis sapiente corporis minima dolorem, in cupiditate voluptatem consectetur, amet repellendus accusantium consequatur.
        </p>
    </ion-content>
  </ion-modal-view>