<ion-modal-view class="tutorial-modal">
  <ion-header-bar class="header-bar" ng-click="closeModal()">
    <h1 class="title">TUTORIAL TEST</h1>
    <i class="icon ion-android-close"></i>
  </ion-header-bar>
  <ion-content class="text-content">
    <div class="instructions">
      <h1>THIS IS MY TUTORIAL PLACEHOLDER</h1>
      <h2>DO NOT BUG</h2>
      <h3 style="color: white">Once you click the cross it shouldn't show again</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Adipisci amet deserunt fuga necessitatibus obcaecati odio quam reiciendis rerum veniam vero!
    </div>

  </ion-content>
</ion-modal-view>
