  <ion-modal-view class="user-level-modal">
    <ion-header-bar class="header-bar" ng-click="closeModal()">
      <h1 class="title" >User level ddexplained</h1>
      <i class="icon ion-android-close"></i>
    </ion-header-bar>
    <ion-content class="text-content">
		<h3>User Levels </h3>
      <section>
        <div class="title">
          <div class="badge-icon"></div>
          <h4>1.0 Lorem ipsum dolor sit amet.</h4>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur deleniti dicta distinctio dolor
          eaque enim fuga fugit iste mollitia nesciunt nostrum placeat praesentium quae, recusandae sapiente sed
          temporibus, velit veniam voluptate? Ab aliquam culpa cumque ea exercitationem in magnam minima, minus
          mollitia nobis obcaecati pariatur praesentium provident quae quia quidem quis.
        </div>
      </section>
      <section>
        <div class="title">
          <div class="badge-icon"></div>
          <h4>1.0 Lorem ipsum dolor sit amet.</h4>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur deleniti dicta distinctio dolor
          eaque enim fuga fugit iste mollitia nesciunt nostrum placeat praesentium quae, recusandae sapiente sed
          temporibus, velit veniam voluptate? Ab aliquam culpa cumque ea exercitationem in magnam minima, minus
          mollitia nobis obcaecati pariatur praesentium provident quae quia quidem quis.
        </div>
      </section>
      <section>
        <div class="title">
          <div class="badge-icon"></div>
          <h4>1.0 Lorem ipsum dolor sit amet.</h4>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur deleniti dicta distinctio dolor
          eaque enim fuga fugit iste mollitia nesciunt nostrum placeat praesentium quae, recusandae sapiente sed
          temporibus, velit veniam voluptate? Ab aliquam culpa cumque ea exercitationem in magnam minima, minus
          mollitia nobis obcaecati pariatur praesentium provident quae quia quidem quis.
        </div>
      </section>
      <section>
        <div class="title">
          <div class="badge-icon"></div>
          <h4>1.0 Lorem ipsum dolor sit amet.</h4>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur deleniti dicta distinctio dolor
          eaque enim fuga fugit iste mollitia nesciunt nostrum placeat praesentium quae, recusandae sapiente sed
          temporibus, velit veniam voluptate? Ab aliquam culpa cumque ea exercitationem in magnam minima, minus
          mollitia nobis obcaecati pariatur praesentium provident quae quia quidem quis.
        </div>
      </section>
    </ion-content>
  </ion-modal-view>
