// TERMS & CONDITIONS MODAL
//------------------------------------------------------------------------//

.disclaimer{
	.header-bar{
		background-color: $primary-color;
		.ion-android-close{
		    color: white;
		    font-size: 22px;
		    right: 12px;
		    position: absolute;
		    top: 11px;
		    z-index: 9;
		}

	}
	.text-content{
		color: $font-color-content-primary;
		padding: 20px;
		strong{
			font-weight: bold;
		}
		h4{
			color: $font-color-content-secondary;
			font-size: 16px;
		}
		p{
			font-size: 11px;
		}
	}
}
