// BASE LAYOUT
//------------------------------------------------------------------------//


.expanded-item-divider{
    width: 5px;
    height: 5px;
    background-color: #E4E2E2;
    position: relative;
    top: 15px;
    border-radius: 50%;            
}