// KEYFRAME ANIMATIONS
//------------------------------------------------------------------------//

@keyframes star-anim {
  0% {
    font-size:25px;
    opacity: 1;
  }
  50% {
    font-size:40px;
    opacity: 0.6;
  }
  100%{
    font-size:25px;
    opacity: 1;
  }
}


@keyframes wardrobe-anim {
  0% {
    font-size:17px;
    opacity: 1;
  }
  50% {
    font-size:25px;
    opacity: 0.6;
  }
  100%{
    font-size:17px;
    opacity: 1;
  }
}


@-webkit-keyframes grid-container-anim {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@mixin grid-container-anim ($duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(grid-container-anim);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}
