// PLACEHOLDERS
//------------------------------------------------------------------------//


span.profile-avatar-placeholder{
    position: relative;
    font-size: 27px;
    color: $icon-grey;
}

span.delete-text  {
  position: absolute;
  left: -3%;
  font-size: 8px;
  background-color: red;
  color: white;
  z-index: 9;
  padding: 0 2px 0;
  bottom: 1%;
  opacity: 0.8;
  text-align: center;
  line-height: 10px;
  font-weight: bold;
}

.no-more-items{
    background-image: url($no-more-items);
    background-repeat: no-repeat;
    height: 40px;
    position: relative;
    top: 0;
    background-size: 12%;
    padding-top: 40px;
    background-position-x: center;
    text-align: center;
    color: #A1A2A3;
    font-size: 10px;
}


.no-more-items-font-icon{
  height: 40px;
  position: relative;
  top: -25px !important;
  background-size: 12%;
  padding-top: 30px;
  background-position-x: center;
  text-align: center;
  color: #A1A2A3;
  font-size: 10px;
  .icon{
    display: block;
    font-size: 49px;
    color: #E4E6E8;
  }
}


.not-a-friend-icon{
  height: 40px;
  position: relative;
  background-size: 12%;
  padding-top: 30px;
  background-position-x: center;
  text-align: center;
  color: #A1A2A3;
  font-size: 10px;
  width: 50%;
  margin: 0 auto;
  .icon{
    display: block;
    font-size: 49px;
    color: #E4E6E8;
  }
}
