<div class="row avatar-details">
  <div class="col-33">
  </div>
  <div class="col-33 avatar-container">
    <div class="item-avatar" ng-class="{'avatar-placeholder': !data.avatar.image }" ng-click="expandItem(data)">
      <div ng-if="data.avatar.imageType == 0">
        <div class="avatar-image"
             ng-style="{'background-image': 'url( data:image/jpeg;base64,' + data.avatar.image + ')'}"></div>
      </div>
      <div ng-if="data.avatar.imageType == 1" class="facebook-container">
        <div class="facebook-avatar-image" ng-style="{'background-image': 'url(' + data.avatar.image + ')'}"></div>
      </div>
      <div ng-if="data.avatar.imageType == 2">
        <div class="twitter-avatar-image" ng-style="{'background-image': 'url(' + data.avatar.image + ')'}"></div>
      </div>
      <span ng-hide="data.avatar.image" class="profile-avatar-placeholder">
          <i class="icon-avatar-placeholder"></i>
      </span>
    </div>
  </div>
  <div class="col-33">
  </div>
</div>
<div class="row profile-details">
  <div class="name-container">
    <span class="name">
        @{{data.username}}
    </span>
    <span class="description">
        {{ data.description | limitTo: 50 }}{{data.description.length > 50 ? '...' : ''}}
    </span>
    <span class="location">
        {{data.location}}
    </span>
  </div>
</div>
<div class="row outfitpic-details">
  <div class="col-33 friends-container" ui-sref="inapp.profile-friends-list">
    <div class="holder-container">
      <div class="icon-holder">
        <i class="icon ion-android-people"></i>
        <span class="social-title">
            Friends{{test}}
        </span>
      </div>
      <div class="count">
        <span class="zero-count" ng-hide="data.friend">0</span>
        {{(data.friend| toArray :false|filter:query).length }}
      </div>
    </div>
  </div>
  <div class="col-33 user-level-container" ng-click="modal1()">
    <div class="user-level-icon"></div>
  </div>
  <div class="col-33 followers-container" ui-sref="inapp.profile-followers-list">
    <div class="holder-container">
      <div class="icon-holder">
        <i class="icon ion-android-person"></i>
        <span class="social-title">
            Followers
        </span>
      </div>
      <div class="count">
        <span class="zero-count" ng-hide="data.followers">0</span>
        {{(data.followers| toArray :false|filter:query).length }}
      </div>
    </div>
  </div>
</div>
